<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Participantes</title>
</head>
<body>
    <h1>Lista de Participantes</h1>
    <a href="{% url 'criar_participante' %}">Adicionar Participante</a>
    <ul>
        {% for participante in participantes %}
        <li>
            {{ participante.nome }} - {{ participante.email }} - Evento: {{ participante.evento.nome }}
            <a href="{% url 'editar_participante' participante.pk %}">Editar</a>
            <a href="{% url 'excluir_participante' participante.pk %}">Excluir</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Voltar</a>
    <br><a href="{% url 'listar_eventos' %}">Gerenciar Eventos</a>
</body>
</html>
